.hero-container {
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    height:100vh;
    position:relative; /*odniesienie do buttona żeby był na zdjęciu*/
}

.hero-container img {
    width: 100%;  
    height: auto; 
    border-radius: 15px;;
}

button {
    background-color: rgba(183, 225, 226, 0.9);
    border: none;
    padding: 15px;
    font-family: "Varela Round", sans-serif;
    font-size: 1rem;
    border-radius: 8px;
    position:absolute;     /*dzięki temu button jest na zdjęciu, a pozycjonuje się wzgledem flexa*/
}

/*-------------------------------------------------*/

.image-container {
    position:relative;  
}

.image-container::after{             /*naklada na kontener ze zdjęciem tło w kolorze*/
    background-color:  rgba(0, 128, 132, 0.25);
    border-radius: 15px;;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:99%;  /*musi mieć content, width/height i top/left, żeby był widoczny na zdjęciu*/
}

/*-------------------------------------------------*/

.alert {
    font-family: "EB Garamond", serif;
    background-color: #ffb05c;
    padding:1rem;
    border-radius: 15px;
    max-width:100%;
    margin-bottom:1rem;
}

/*-------------------------------------------------*/

@media screen and (min-width: 1024px) {
    button {
        font-size:1.3rem;
    }
}

@media screen and (min-width: 800px) and (max-width: 1024px) {
    button {
        font-size:1.2rem;
    }
}

@media screen and (min-width: 470px) and (max-width: 650px) {
    button {
        font-size:0.9rem;
    }
    .alert {
        font-size:0.9rem;
        padding:0.9rem;
    }
}

@media screen and (min-width: 400px) and (max-width: 470px) {
    button {
        font-size:0.8rem;
    }
    .alert {
        font-size:0.8rem;
        padding:0.8rem;
    }
}

@media screen and (max-width: 400px) {
    button {
        font-size:0.6rem;
        padding:10px;
    }
    .alert {
        font-size:0.7rem;
        padding:0.7rem;
    }

}